@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: "Nunito";
  font-weight: 400;
  src: url("../assets/fonts/Nunito-VariableFont_wght.ttf");
}

/* Declare theme color */
@layer base {
  :root {
    --color-primary: 228, 240, 50;
    --color-primary-hover: 208, 220, 30;
    --color-on-primary: 255, 255, 255;
    --color-on-primary-hover: 222, 222, 222;

    --color-accent: 223, 255, 65;
    --color-accent-hover: 203, 235, 45;

    --color-success: 101, 187, 148;
    --color-warning: 255, 152, 0;
    --color-danger: 215, 50, 50;

    --color-surface: 0, 0, 0;
    --color-surface-secondary: 250, 251, 0;
    --color-on-surface: 255, 255, 255;

    --color-background: 0, 24, 51;
    --color-background-secondary: 0, 0, 0;

    --color-paragraph: 255, 255, 255;
    --color-paragraph-variant: 0, 0, 0;
  }

  .dark {
    --color-primary: 228, 240, 50;
    --color-primary-hover: 208, 220, 30;
    --color-on-primary: 255, 255, 255;
    --color-on-primary-hover: 222, 222, 222;

    --color-accent: 223, 255, 65;
    --color-accent-hover: 203, 235, 45;

    --color-success: 101, 187, 148;
    --color-warning: 255, 152, 0;
    --color-danger: 215, 50, 50;

    --color-surface: 0, 0, 0;
    --color-surface-secondary: 250, 251, 0;
    --color-on-surface: 255, 255, 255;

    --color-background: 0, 24, 51;
    --color-background-secondary: 0, 0, 0;

    --color-paragraph: 255, 255, 255;
    --color-paragraph-variant: 0, 0, 0;
  }
}

/* Util for font weight variations */
@layer utilities {
  .font-thin {
    font-variation-settings: "wght" 100;
  }
  .font-extralight {
    font-variation-settings: "wght" 200;
  }
  .font-light {
    font-variation-settings: "wght" 300;
  }
  .font-normal {
    font-variation-settings: "wght" 400;
  }
  .font-medium {
    font-variation-settings: "wght" 500;
  }
  .font-semibold {
    font-variation-settings: "wght" 600;
  }
  .font-bold {
    font-variation-settings: "wght" 600;
  }
  .font-extrabold {
    font-variation-settings: "wght" 800;
  }
  .font-black {
    font-variation-settings: "wght" 900;
  }
}

html,
body {
  @apply bg-background text-paragraph dark;
}
.transition-smooth {
  @apply transition;
  @apply ease-in-out;
  @apply duration-500;
}
.clickable {
  @apply transition;
  @apply ease-in-out;
  @apply duration-500;
  @apply cursor-pointer;
}

.label {
  @apply text-paragraph;
  @apply text-sm;
  @apply uppercase;
  @apply font-medium;
  @apply tracking-wide;
}

.label-error {
  @apply text-danger;
  @apply text-sm;
  @apply uppercase;
  @apply font-medium;
  @apply tracking-wide;
}

.input {
  @apply bg-transparent;
  @apply ring-2 ring-primary;
  @apply text-on-surface;
  @apply rounded;
  @apply p-2;
}

.input:focus,
input:focus,
select:focus,
button:focus,
.clickable:focus {
  @apply outline-none;
}
